@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&family=Karla:wght@300;400&family=Ysabeau+SC:wght@200;500&display=swap');

p {
    
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  
.post a {
text-decoration: none;
color: black;
transition: all 0.2s ease;
padding: 1rem;
}

.post a:hover,
.post a:active {
transform: scale(1.1);
background-color: #0cd2e0;
color: white;
}

.post img {
width: 16rem;
height: 9rem;
object-fit: cover;
}

.post h3 {
margin: 0.25rem 0;
}

.post time {
color: #666666;
margin: 0.25rem;
font-style: italic;
font-size: 0.3rem;
}

.post:hover time,
.post:active time {
color: white;
}

